.container {
  /* margin-top: 20px; */
    margin: 0 auto;
    width: 100%;
    max-width: 380px;
  }
  
  .stagebox {
    margin: 0 auto;
    display: flex;
    gap: 2.5%; /* Use percentage for gap */
    background-image: url('/assets/stage/DailyProfitRankStage.svg');
    width: 92%;
    padding-top: 75%; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
  
  .winner {
    position: absolute;
    bottom: 10%;
    width: 30%; /* Adjust width to fit three winners */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .winner:nth-child(1) { left: 35%; bottom: 30%; } /* First place */
  .winner:nth-child(2) { left: 2%; bottom: 26%; }  /* Second place */
  .winner:nth-child(3) { right: 2%; bottom: 26%; } /* Third place */
  
  .crownimg {
    position: relative;
    top: 30px;
    left: 110%;
    transform: translateX(-100%);
    width: 30px;
    height: 50px;
    z-index: 0;
  }
  
  .crownimg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  /* Adjust crown colors */
  .winner:nth-child(1) .crownimg img { filter: brightness(1.2) saturate(1.2); } /* Gold */
  .winner:nth-child(2) .crownimg img { filter: brightness(0.9) saturate(0.7); } /* Silver */
  .winner:nth-child(3) .crownimg img { filter: brightness(1.1) saturate(1.5); } /* Bronze */
  
  .positionimg{
    margin: -5px auto;
    width: 80px;
    height: 30px;
  }
  
  .positionimg img{
    height: 100%;
  width: 100%;
  object-fit: contain;
  }
  
  .idimg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0px auto;
    border: 2px solid #f95959;
  }
  .idimg2 {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin: -10px auto;
    border: 2px solid #ff9051;
  }
  .idimg3 {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin: -10px auto;
    border: 2px solid #ffb939;
  }
  
  .idimg img,.idimg2 img,.idimg3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .name {
    margin: 60% 0 2% 0;
    color: #FF2D5F !important;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
  .name2 {
    margin: 45% 0 2% 0;
    color: #ff772a !important;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
  .name3 {
    margin: 45% 0 2% 0;
    color: #ffb628 !important;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
  .price{
    /* padding: 7px 10px; */
    padding-bottom:10px ;
    font-size: 0.7em;
    border-radius: 9rem;
    margin-top: 4px;
    font-weight: medium;
  }
   .win {
    /* padding: 7px 10px; */
    color: #bc2958;
    font-size: 0.7em;
    border-radius: 9rem;
    /* margin-top: 4px; */
    font-weight: medium;
    /* background: linear-gradient(to bottom, #97c2d47c, #97c2d47c); */
  }
  
  .runnerup{
    width: 100%;
    /* margin-top: -15px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    background: #323738;
    border-radius: 10px;
  }
  
  .fourfive{
    background:#ffffff;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 2px 0px;
    margin: 3px 0;
    justify-content: space-between;
    border-radius: 4px;
  }
  .position{
    font-size: 0.8rem;
    font-weight: 600;
    gap: 30px;
    padding: 0px 10px;
    /* margin-left: -15px; */
    color: #1E2637;
    /* width: 30px; */
    text-align: center;
    /* border-right: 2px solid rgba(128, 128, 128, 0.527); */
    
  }
  .img{
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .runner-up-name {
    color: #1E2637;
    font-size: 0.8rem;
    flex-grow: 1;
    text-align: left;
  }
  
  .win {
    /* padding: 7px 8px; */
    width: 110px;
    color: #f95959;
    font-size: 12px;
    border-radius: 20px;
    /* background: linear-gradient(90deg, #f95959 0%, #ff9a8e 100%); */
    text-align: right;
    min-width: 90px;
  }
  win2{
    /* margin-right: 10px; */
  }
  
  @media screen and (max-width: 480px) {
    .fourfive {
      height: 40px;
      padding: 3px 0px;
    }
    
    .position {
      font-size: 1rem;
      width: 2px;
    }
    
    .img {
      width: 30px;
      height: 30px;
    }
    
    .runner-up-name {
      font-size: 0.8rem;
    }
    
    .win {
      font-size: 0.7rem;
      min-width: 100px;
    }
  }
  @media screen and (max-width: 480px) {
    .container {
      max-width: 100%;
    }
    
    .idimg {
      width: 55px;
      height: 55px;
      left: 50%;
    }
    
    .idimg2 {
      width: 45px;
      height: 45px;
      left: 50%;
    }
    
    .idimg3 {
      width: 45px;
      height: 45px;
      left: 50%;
    }
    
    .crownimg {
      width: 26px;
      height: 30px;
      top: 22px;
    }
    
    .name,.name2,.name3, .price, .win {
      font-size: 0.7em;
    }
    
    .fourfive {
      font-size: 1rem;
    }
  }
  
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
      max-width: 95%;
    }
  }
  
  @media screen and (min-width: 769px) {
    .container {
      max-width: 380px;
    }
  }